body {}

.jumbotron {
    background-color: rgb(0, 162, 255);
    color: black;
}

.container {
    background-color: white;
}

.container [class^=col-] {
    color: black;
    border-radius: 15px;
}

.container.shadow_article {
    /*box-shadow: 2px 2px 5px 2px inset #589af1;*/
    border-top: 2px solid #589af1;
    border-bottom: 2px solid #589af1;
    padding: 20px;
    margin-bottom: 20px;
}