.jumbotron {
    background-color: rgb(0, 162, 255);
    color: black;
    margin-bottom: 0px;
}

.bg-1 {
    background-color: rgb(220, 250, 255);
    color: black;
}

.bg-2 {
    background-color: rgb(9, 160, 248);
    color: black;
}

.bg-3 {
    background-color: black;
    color: white;
}

#cpimg {
    border: 1px solid yellow;
    box-shadow: 2px 2px 5px 2px yellow;
    margin-bottom: 10px;
    border-radius: 10px;
}

.container.shadow_article {
    /*box-shadow: 2px 2px 5px 2px inset #589af1;*/
    border-top: 2px solid #589af1;
    border-bottom: 2px solid #589af1;
    padding: 20px;
    margin-bottom: 20px;
}